<h1>Sign in</h1>
<%= form_with url: session_path do |form| %>
  <div>
    <%= form.label(:email_address) %>
    <div><%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %></div>
  </div>

  <div>
    <%= form.label(:password) %>
    <div><%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %></div>
  </div>

  <div>
    <div></div>
    <div>
      <%= form.submit "Sign in" %>
      <%= form.hidden_field :altcha %>
      <altcha-widget challengeurl="<%= altcha_url %>" auto="onload" floating></altcha-widget>
    </div>
  </div>
<% end %>
<br>

<%= link_to "Forgot password?", new_password_path %>
<%= link_to "Sign up", new_signup_path %>
