<% if @user.errors.any? %>
  <%= @user.errors.messages %>
<% end %>
<h1>Sign up</h1>
<%= form_with(model: @user, url: signups_path, method: :post) do |form| %>
  <div>
    <%= form.label(:email_address) %>
    <div><%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address"  %></div>
  </div>

  <div>
    <%= form.label(:name) %>
    <div><%= form.text_field :name, required: true, autofocus: true, autocomplete: "name", placeholder: "Display name/handle"  %></div>
  </div>

  <div>
    <%= form.label(:password) %>
    <div><%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Create a password", maxlength: 72 %></div>
  </div>

  <div>
    <%= form.label(:password_confirmation) %>
    <div><%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirm your password", maxlength: 72 %></div>
  </div>

  <div>
    <%= form.label(:location) %>
    <div><%= form.text_field :location, required: false, autofocus: true, placeholder: "City and/or country" %></div>
  </div>

  <div>
    <%= form.label(:time_zone) %>
    <div><%= form.select :time_zone, @options.fetch(:time_zones), { selected: @user.time_zone }, {data: { controller: "time-zone", "time-zone-target" => "picker" } }%></div>
  </div>

  <div>
    <%= form.label(:socials) %>
    <div><%= form.text_field :socials, required: false, autofocus: true  %></div>
  </div>
  <%= form.submit "Sign up" %>
<% end %>
