<%= content_for(:title, "Networks") %>

<h1>Networks</h1>

<p>Networks allow AppleTalk routers to correlate an AppleTalk network number
with an IP endpoint. Each user on GlobalTalk needs one.</p>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Ranges</th>
      <th>Network Numbers</th>
      <th>Endpoint</th>
    </tr>
  </thead>
  <tbody>
    <% @networks.each do |network| %>
      <tr>
        <td><%= network.user.name %></td>
        <td><%= link_to(network.ranges_s, network) %></td>
        <td class="numeric"><%= network.total_network_numbers %></td>
        <td><%= network.public_endpoint %></td>
      </tr>
    <% end %>
  </tbody>
</table>
