<%= content_for(:title, "Members") %>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Socials</th>
      <th>Zones</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.name, user_by_name_path(user.name)) %></td>
        <td><%= user.location %></td>
        <td><%= user.socials %></td>
        <td>
          <% user.zones.each do |zone| %>
            <%= link_to(zone.name, zone_by_name_path(zone.name)) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
