<%= content_for(:title, @user.name) %>

<div style="display: flex; justify-content: space-between;">
  <h1><%= @user.name %></h1>
  <% if allowed_to?(:edit?, @user) %>
    <div>
      <%= button_to("Edit", [:edit, @user], method: :get) %>
    </div>
  <% end %>
</div>

<div>
  <div>
    <h2>Details</h2>
    <dl style="display: grid; grid-template-columns: 1fr 4fr; row-gap: 8px;">
      <dt>Location</dt>
      <dd><%= @user.location %></dd>
      <dt>Time Zone</dt>
      <dd>
        <%= @user.time_zone %>
        <div data-controller="clock" data-clock-target="face" data-clock-tz-value="<%= @user.time_zone %>"></div>
      </dd>
      <dt>Socials</dt>
      <dd><%= @user.socials %></dd>
    </dl>
  </div>

  <div style="margin: 20px 0">
    <h2>Endpoints</h2>
    <ul>
      <% @user.endpoints.each do |endpoint| %>
        <li><%= link_to(endpoint.ranges_s, endpoint) %></li>
      <% end %>
    </ul>
    <% if allowed_to?(:new?, Endpoint) %>
      <%= button_to("Register an Endpoint", new_endpoint_path, method: :get) %>
    <% end %>
  </div>

  <div style="margin: 20px 0">
    <h2>Zones</h2>
    <ul>
      <% @user.zones.each do |zone| %>
        <li><%= link_to(zone.name, zone_by_name_path(zone.name)) %></li>
      <% end %>
    </ul>
    <% if allowed_to?(:new?, Zone) %>
      <%= button_to("Register a Zone", new_zone_path, method: :get) %>
    <% end %>
  </div>
</div>
