<%= form_with(model: @zone) do |form| %>
  <h2>Basics</h2>
  <div>
    <%= form.label(:name) %>
    <div><%= form.text_field(:name, required: true, placeholder: "Zone name") %></div>
  </div>

  <div>
    <%= form.label(:network_ranges) %>
    <div data-controller="edit-network-number">
      <%= form.text_field(:network_ranges, value: @zone.network_ranges_s, placeholder: "123, 400-402", required: true, data: { "edit-network-number-target" => "number" }) %>
      <% unless @zone.persisted? %>
      <p class="helptext">
        Need inspiration? Network number
        <code style="font-weight: 500; cursor: pointer" data-action="click->edit-network-number#use" data-edit-network-number-target="freeNumber" title="Click to use!"><%= Zone.random_free_network_number %></code> is available!
        <br/>
        Zones aren't allowed to occupy more than <%= Zone.max_allowed_network_count %> network numbers as there are only <%= AppleTalk.distinct_network_numbers %> to go around.
      </p>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.label(:about) %>
    <div>
      <%= form.text_area(:about, placeholder: "What should users look for in your zone?", style: "width: 100%; height: 150px") %>
    </div>
  </div>

  <h2>Endpoint</h2>

  <div>
    <div>Reachability</div>
    <div>
      <%=
        render_markdown(<<~MD)
          Your AppleTalk router must be reachable by the public internet on UDP port 387.
          If you have a static IPv4 address or a hostname managed with dynamic DNS,
          enter that as the *Static Endpoint*.

          If you have a dynamic IP, you could enter it here, or leave this field blank
          and then after creating your zone you'll see information about using
          our dynamic DNS server which will get you set up with a hostname
          e.g. `my-zone.#{DDNS.domain_name}`.
        MD
      %>
    </div>
    <%= form.label(:static_endpoint) %>
    <div><%= form.text_field(:static_endpoint, placeholder: "Static IPv4 address or hostname", style: "width: 400px") %></div>
  </div>

  <div>
    <div></div>
    <div><%= form.submit %></div>
  </div>
<% end %>
