<%= form_with(model: @zone) do |form| %>
  <div>
    <%= form.label(:name) %>
    <div><%= form.text_field(:name, required: true, placeholder: "Zone name") %></div>
  </div>

  <div>
    <%= form.label(:about) %>
    <div>
      <%= form.text_area(:about, placeholder: "What should users look for in your zone?", style: "width: 100%; height: 250px; font-family: monospace") %>
      <p class="helptext">Markdown is supported here.</p>
    </div>
  </div>

  <div>
    <div></div>
    <div><%= form.submit %></div>
  </div>
<% end %>
