<%= content_for(:title, "Zones") %>

<h1>Zones</h1>

<%= button_to("Register a Zone", new_zone_path, method: :get) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Endpoint</th>
      <th>Enabled?</th>
      <th>Published?</th>
      <th>Network Numbers</th>
      <th class="numeric">Total Network Numbers</th>
    </tr>
  </thead>
  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= link_to(zone.name, zone) %></td>
        <td><%= zone.user.name %></td>
        <td><%= zone.public_endpoint %></td>
        <td><%= zone.enabled? %></td>
        <td><%= zone.exported? %></td>
        <td><%= zone.network_ranges_s %></td>
        <td class="numeric"><%= zone.total_network_numbers %></td>
      </tr>
    <% end %>
  </tbody>
</table>
