<%= content_for(:title, "Zones") %>

<h1>Zones</h1>

<% if allowed_to?(:new?, Zone) %>
  <%= button_to("Register a Zone", new_zone_path, method: :get) %>
<% else %>
  <p class="private-alert" style="margin: 10px 0">Before registering your zone, please update <%= link_to("your profile", [:edit, Current.user]) %> with your network number.</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Network Ranges</th>
      <th>Endpoint</th>
      <th>Enabled?</th>
      <th>Published?</th>
    </tr>
  </thead>
  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= link_to(zone.name, zone) %></td>
        <td><%= zone.user.name %></td>
        <td class="numeric"><%= zone.user.network_ranges_s %></td>
        <td><%= zone.public_endpoint %></td>
        <td><%= zone.enabled? %></td>
        <td><%= zone.exported? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
