<%= link_to("Edit", edit_zone_path(@zone)) %>


<div>
  <dl>
    <dt>Owner</dt>
    <dt><%= @zone.user.email_address %></dt>
  </dl>
  <dl>
    <dt><%= Zone.human_attribute_name(:ethertalk_zone_name) %></dt>
    <dt><%= @zone.ethertalk_zone_name %></dt>
  </dl>

  <dl>
    <dt><%= Zone.human_attribute_name(:localtalk_zone_name) %></dt>
    <dt><%= @zone.localtalk_zone_name %></dt>
  </dl>

  <dl>
    <dt><%= Zone.human_attribute_name(:public_endpoint) %></dt>
    <dt><%= @zone.public_endpoint %></dt>
  </dl>

  <dl>
    <dt><%= Zone.human_attribute_name(:network_ranges) %></dt>
    <dt><%= @zone.network_ranges_s %></dt>
  </dl>

  <dl>
    <dt><%= Zone.human_attribute_name(:highlights) %></dt>
    <dt><%= @zone.highlights %></dt>
  </dl>

  <dl>
    <dt><%= Zone.human_attribute_name(:comments) %></dt>
    <dt><%= @zone.comments %></dt>
  </dl>

  <dl>
    <dt><%= Zone.human_attribute_name(:ddns_subdomain) %></dt>
    <dt><%= @zone.ddns_subdomain %></dt>
  </dl>
  <dl>
    <dt><%= Zone.human_attribute_name(:ddns_ip) %></dt>
    <dt><%= @zone.ddns_ip %></dt>
  </dl>
</div>
