<%= link_to("Edit", edit_zone_path(@zone)) %>

<%= content_for(:title, @zone.name) %>

<h1><%= @zone.name %></h1>

<div>
  <h3>Details</h3>
  <dl>
    <dt>Owner</dt>
    <dd><%= @zone.user.name %></dd>

    <dt><%= Zone.human_attribute_name(:public_endpoint) %></dt>
    <dd><%= @zone.public_endpoint %></dd>

    <dt><%= Zone.human_attribute_name(:physical_layer) %></dt>
    <dd><%= Zone::PhysicalLayer.label_for(@zone.physical_layer) %></dd>

    <dt><%= Zone.human_attribute_name(:network_ranges) %></dt>
    <dd><%= @zone.network_ranges_s %></dd>

    <dt><%= Zone.human_attribute_name(:about) %></dt>
    <dd><%= @zone.about %></dd>
  </dl>

  <h3>DDNS</h3>
  <dl>
    <dt><%= Zone.human_attribute_name(:ddns_subdomain) %></dt>
    <dd><%= @zone.ddns_subdomain %></dd>

    <dt><%= Zone.human_attribute_name(:ddns_ip) %></dt>
    <dd><%= @zone.ddns_ip %></dd>

    <dt><%= Zone.human_attribute_name(:ddns_ip) %></dt>
    <dd><%= @zone.ddns_ip %></dd>
  </dl>
</div>
