<%= content_for(:title, @zone.name) %>

<div style="display: flex; justify-content: space-between;">
  <h1><%= @zone.name %></h1>
  <% if allowed_to?(:edit?, @zone) %>
    <div>
      <%= button_to("Edit", [:edit, @zone], method: :get) %>
    </div>
  <% end %>
</div>


<div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 20px;">
  <div>
    <h3>Details</h3>
    <dl style="display: grid; grid-template-columns: 1fr 2fr; row-gap: 8px;">
      <dt>Owner</dt>
      <dd><%= link_to(@zone.user.name, @zone.user) %></dd>
      <dt>Time Zone</dt>
      <dd><%= @zone.user.time_zone %></dd>
      <dt>Location</dt>
      <dd><%= @zone.user.location %></dd>

      <dt><%= Zone.human_attribute_name(:physical_layer) %></dt>
      <dd><%= Zone::PhysicalLayer.label_for(@zone.physical_layer) %></dd>

      <dt><%= Zone.human_attribute_name(:network_ranges) %></dt>
      <dd><code><%= @zone.network_ranges_s %></code></dd>

      <dt><%= Zone.human_attribute_name(:static_endpoint) %></dt>
      <dd><code><%= @zone.static_endpoint %></code></dd>
    </dl>
  </div>
  <div>
    <h3>Status</h3>
    <dl style="display: grid; grid-template-columns: 1fr 2fr; row-gap: 8px;">
      <dt>Enabled?</dt>
      <dd>
        <div style="display: flex; gap: 10px">
          <%= @zone.enabled? ? "Yes" : "No" %>
          <% if allowed_to?(:enable?, @zone) %>
            <%= button_to("Enable", [:enable, @zone], method: :patch) %>
          <% end %>
          <% if allowed_to?(:disable?, @zone) %>
            <%= button_to("Disable", [:disable, @zone], method: :patch) %>
          <% end %>
        </div>
        <p class="helptext">A disabled zone will be removed from the endpoint list.</p>
        </dd>
      </dd>

      <dt>Published?</dt>
      <dd>
        <div><%= @zone.exported? ? "Yes" : "No" %></div>
        <p class="helptext">To be published, a zone must enabled and have a static endpoint or current DDNS IP.</p>
      </dd>

      <dt>Current public endpoint</dt>
      <dd>
        <code><%= @zone.public_endpoint %></code>
        <p class="helptext">The <em>static endpoint</em> takes precedence over the DDNS hostname</p>
      </dd>
    </dl>
  </div>

  <div>
  </div>
</div>

<h2>About</h2>
<div style="border: solid dimgray 1px; padding: 1em">
  <%= render_markdown(@zone.about) %>
</div>

<% if allowed_to?(:view_ddns_secrets?, @zone) %>
  <div style="background-color: lightyellow; border: solid brown 1px; padding: 10px; margin-top: 20px">
    <h2>Dynamic DNS</h2>

    <div>
      <%=
        render_markdown(<<~MD)
          This GlobalTalk Registry hosts a dynamic DNS service following the DynDNS2 protocol.
          Most any router will have DynDNS2 support and give you the option to customise the update URL.

          ### Public IPv4

          In order for this to work, you have to have a publically routable IPv4 address.

          ### CG-NAT

          This will not work if you're behind CG-NAT and updates with CG-NAT IPs will be rejected.
        MD
      %>
    </p>

    <h3>Your Secret DDNS Settings</h3>
    <dl style="width: 800px; margin: 20px; display: grid; grid-template-columns: 1fr 2fr; row-gap: 10px;">
      <dt>Update URL</dt>
      <dd><code><%= ddns_update_url %></code></dd>

      <dt>Hostname</dt>
      <dd><code><%= @zone.ddns_fqdn %></code></dd>

      <dt>Username</dt>
      <dd>Ignored by us. Set to any value e.g. <code>ddns</code></dd>

      <dt>Password</dt>
      <dd><code><%= @zone.ddns_password %></code></dd>

      <dt>Current IP</dt>
      <dd>
        <% if @zone.ddns_ip %>
          <code><%= @zone.ddns_ip %></code>
        <% else %>
          <em>Awaiting DDNS update from your router</em>
        <% end %>
      </dd>
    </dl>
  </div>
<% end %>
