<%= content_for(:title, "External Zones") %>

<h1>External Zones</h1>

<p>
  These zones have been imported from external sources and made available as peers
in addition to zones registered in this app.
<br/>
If a zone registered in this app shares a name with a zone here, the registered
zone takes precedence in the endpoint list.
<br />
Zones from this list are included in the <%= link_to("Router Config", exports_path) %>
exports if they have defined network rantes and a valid endpoint address.
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Network Ranges</th>
      <th>Net Size</th>
      <th>Endpoint</th>
      <th>DNS Lookup</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= zone.name %></td>
        <td><%= zone.network_ranges_s %></td>
        <td class="numeric"><%= zone.total_network_numbers %></td>
        <td>
          <div style="display: flex; gap: 8px; align-items: center">
            <% if zone.seen_recently? %>
              <svg height="0.8em" width="1em">
                <circle cx="6" cy="6" r="6" style="fill: seagreen"></circle>
              </svg>
            <% else %>
              <svg height="0.8em" width="1em">
                <circle cx="6" cy="6" r="6" style="fill: darkgray"></circle>
              </svg>
            <% end %>
            <%= zone.public_endpoint %>
          </div>
        </td>
        <td>
          <% if zone.last_lookup_result == "OK" && zone.network_ranges.any? %>
            <%= image_tag("happy-mac.gif", style: "display: inline-block") %>
          <% else %>
            <%= image_tag("sad-mac.png", style: "display: inline-block") %>
          <% end %>
          <%= zone.last_lookup_result %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
