<h1>Router Configuration</h1>

<%=
  render_markdown(<<~MD)
    To connect to GlobalTalk, you need a router to tunnel AppleTalk traffic
    across the internet. Your AppleTalk router (distinct from your normal internet router)
    needs to know addresses of other routers to connect to.

    [AIRConfig] and [jrouter] both support loading a list of AppleTalk router
    endpoints from a URL serving a plain text file.

    [AIRConfig]: https://github.com/kalleboo/AIRConfig
    [jrouter]: https://gitea.drjosh.dev/josh/jrouter
  MD
%>

<p>URLs are unique to each user. This keeps the door open to future customisation
  and makes things a bit more secure. If you don't like your generated identifier,
  you can <%= link_to("edit your profile", [:edit, Current.user]) %> to change it.
</p>

<h2>Variants</h2>

These URLs are also accessible over plain <code>http://</code>

<h3>Plain endpoints</h3>

<p>This list is the pure, unmodified list of endpoints for all available zones.
  This works well with <strong>jrouter</strong> as it'll happily resolve addresses and CNAMEs
and gracefully handle resolution failures.</p>

<p style="font-size: 1.2rem"><code><%= link_to(@all_url, @all_url) %></code></p>

<h3>Pre-resolved IP Addresses</h3>

<%=
  render_markdown(<<~MD)
    **MacTCP** and/or **Apple Internet Router** can hang or have other issues
    when a hostname doesn't resolve to an IPv4 address, or when a hostname
    is a nested/chained CNAME.

    This list is a cached, pre-resolved list of IPv4 endpoint addresses.
    The caveat to using this list is that dynamic IPs resolved from a
    hostname will become outdated, so you'll want to refresh more often.
  MD
%>

<p style="font-size: 1.2rem"><code><%= link_to(@ips_url, @ips_url) %></code></p>

