<!DOCTYPE html>
<html>
  <head>
    <title><%= [content_for(:title), "GlobalTalk Registry"].compact.join(" - ") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Global Talk">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= image_tag("network-browser.png") %>
      <div style="color: white; font-size: 24px; font-weight: 700; margin-right: 40px; font-family: serif; letter-spacing: -1px;">GlobalTalk Registry</div>
      <% if Current.user %>
      <ul>
        <li><%= link_to("Users", users_path, class: "btn") %></li>
        <li><%= link_to("Networks", networks_path, class: "btn") %></li>
        <li><%= link_to("Zones", zones_path, class: "btn") %></li>
        <li><%= link_to("External Zones", external_zones_path, class: "btn") %></li>
        <li><%= link_to("AppleTalk Router Config", exports_path, class: "btn") %></li>
        <li><%= link_to(Current.user.name, Current.user) %></li>
        <li><%= button_to("Sign Out", session_path, method: :delete) %></li>
      </ul>
      <% end %>
    </nav>
    <main>
      <%# These don't belong here. Temporary (so, probably permanent) %>
      <div class="flash-messages">
        <% flash.each do |k, txt| %>
          <%= tag.div(txt, class: ["flash-message", "flash-#{k}"]) %>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
